<mat-card>
    <h1>AGREGAR NUEVA RESERVACION</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "formSubmit()"> 
              
              <mat-form-field>
                <mat-label>Seleccionar Pasajero: </mat-label>
                <mat-select name="selectedPassenger" [(ngModel)]="selectedPassenger">
                  <mat-option *ngFor="let passenger of passengers" [value]="passenger">
                    {{passenger.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Seleccionar Vuelo: </mat-label>
                <mat-select name="selectedFlight" [(ngModel)]="selectedFlight" (selectionChange)="onIdentificationSelect($event)">
                  <mat-option *ngFor="let flight of flights" [value]="flight">
                    {{flight.vueloId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Lugar Origen: </mat-label>
                  <input
                  required                  
                  type="text"
                  name="lugarOrigen"
                  matInput
                  [readOnly]="true"
                  placeholder="Digite el lugar de origen del vuelo"
                  [(ngModel)] = "flight.lugarOrigen"
                  >
                </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Lugar Destino</mat-label>
                <input
                required                
                type="text"
                name="lugarDestino"
                matInput
                [readOnly]="true"
                placeholder="Digite el lugar del destino del vuelo"
                [(ngModel)] = "flight.lugarDestino"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Fecha de Salida: </mat-label>
                <input
                required                
                type="text"
                name="fechaSalida"
                matInput
                [readOnly]="true"
                placeholder="Digite la fecha de Salida del vuelo"
                [(ngModel)] = "flight.fechaSalida"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Fecha de Llegada: </mat-label>
                <input
                required                
                type="text"
                name="fechaLlegada"
                matInput
                [readOnly]="true"
                placeholder="Digite la fecha de llegada del vuelo"
                [(ngModel)] = "flight.fechaLlegada"
                >                
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Fecha de Reserva: </mat-label>
                <input
                required
                type="text"
                name="fechaReserva"
                matInput
                placeholder="Digite la fecha de reserva"
                [(ngModel)] = "reservation.fechaReserva"
                [matDatepicker]="pickerFR"
                >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFR">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerFR></mat-datepicker>
              </mat-form-field>
                          
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Número Asiento:</mat-label>
                <mat-select name="numeroAsiento" [(ngModel)]="reservation.numeroAsiento">
                  <mat-option *ngFor="let seat of seatList" [value]="seat">{{ seat }}</mat-option>
                </mat-select>
              </mat-form-field>         
              
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Hora Embarque: </mat-label>
                <input
                required                
                type="text"
                name="horaEmbarque"
                matInput
                placeholder="Digite la hora de embarque de la reserva"
                [(ngModel)] = "reservation.horaEmbarque"
                >                
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Puerta Embarque: </mat-label>
                <input
                required                
                type="text"
                name="puertaEmbarque"
                matInput
                placeholder="Digite la puerta de embarque de la reserva"
                [(ngModel)] = "reservation.puertaEmbarque"
                >                
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Clase: </mat-label>
                <input
                required                
                type="text"
                name="clase"
                matInput
                placeholder="Digite la clase de la reserva"
                [(ngModel)] = "reservation.clase"
                >                
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Precio Clase: </mat-label>
                <input
                required                
                type="text"
                name="precioClase"
                matInput
                placeholder="Digite el precio de la clase de la reserva"
                [(ngModel)] = "reservation.precioClase"
                >                
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Número de Mochila: </mat-label>
                <input
                required              
                type="text"
                name="numeroMochila"
                matInput
                placeholder="Digite el número de mochila de la reserva"
                [(ngModel)] = "reservation.numeroMochila"
                >                
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Peso de las mochilas: </mat-label>
                <input
                required                
                type="text"
                name="pesoMochila"
                matInput
                placeholder="Digite el peso total de las mochilas de la reserva"
                [(ngModel)] = "reservation.pesoMochila"
                >                
              </mat-form-field>

              <mat-form-field>
                <mat-label>Seleccionar Piloto</mat-label>
                  <mat-select name="selectedPilot" [(ngModel)]="selectedPilot">
                    <mat-option *ngFor="let pilot of pilots" [value]="pilot">
                      {{pilot.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>                                   
              <div class="btns">
                <button type="submit" mat-raised-button color="primary">AGREGAR RESERVACIÓN</button>
                <button routerLink="/admin/reservations" mat-raised-button color="accent">REGRESAR</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>  
