<mat-card>
    <h1>Agregar nuevo Avión</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "formSubmit()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Marca</mat-label>
                <input
                required
                autofocus
                type="text"
                name="marca"
                matInput
                placeholder="Digite la marca del avión"
                [(ngModel)] = "airplane.marca"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Modelo</mat-label>
                <input
                required
                autofocus
                type="text"
                name="modelo"
                matInput
                placeholder="Digite el modelo del avión"
                [(ngModel)] = "airplane.modelo"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Capacidad</mat-label>
                <input
                required
                autofocus
                type="text"
                name="capacidad"
                matInput
                placeholder="Digite la capacidad del avión"
                [(ngModel)] = "airplane.capacidad"
                (input)="validateCapacidad($event)"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Fabricante</mat-label>
                <input
                required
                autofocus
                type="text"
                name="fabricante"
                matInput
                placeholder="Digite el fabricante del avión"
                [(ngModel)] = "airplane.fabricante"
                >
              </mat-form-field>  
              <mat-form-field>
                <mat-label>Año de Fabricación</mat-label>
                <input 
                  required
                  type="text"
                  name="anioFabricacion"
                  matInput
                  placeholder="Digite la fecha de Fabricación del avión"
                  [(ngModel)]="airplane.anioFabricacion"
                  [matDatepicker]="picker"                  
                >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>                           

              <div class="btns">
                <button type="submit" mat-raised-button color="primary">AGREGAR AVION</button>
                <button routerLink="/admin/airplanes" mat-raised-button color="accent">REGRESAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> 