<h2>Editar Vuelo</h2>

<form [formGroup]="flightForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="modelo">Lugar de Origen:</label>
    <input type="text" formControlName="lugarOrigen" class="form-control" id="lugarOrigen" [(ngModel)] = "flight.lugarOrigen">
  </div>

  <div class="form-group">
   <label for="modelo">Lugar de Destino:</label>
   <input type="text" formControlName="lugarDestino" class="form-control" id="lugarDestino" [(ngModel)] = "flight.lugarDestino">
 </div>

  <div class="form-group">
    <label for="fabricante">Fecha de Salida:</label>
    <input type="text" formControlName="fechaSalida" class="form-control" id="fechaSalida" [(ngModel)] = "flight.fechaSalida">
  </div>

  <div class="form-group">
   <label for="fabricante">Fecha de Llegada:</label>
   <input type="text" formControlName="fechaLlegada" class="form-control" id="fechaLlegada" [(ngModel)] = "flight.fechaLlegada">
 </div>

    <mat-form-field>
        <mat-label>Seleccionar Avion</mat-label>
        <mat-select name="selectedAirplane" [(ngModel)]="selectedAirplane" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let airplane of airplanes" [value]="airplane">
            {{airplane.marca}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Seleccionar Piloto</mat-label>
    <mat-select name="selectedPilot" [(ngModel)]="selectedPilot" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let pilot of pilots" [value]="pilot">
        {{pilot.nombre}}
        </mat-option>
    </mat-select>
    </mat-form-field>
 
 <div class="btns">
   <button type="submit" mat-raised-button color="primary">EDITAR VUELO</button>
   <button routerLink="/admin/flights" mat-raised-button color="accent">REGRESAR</button>
 </div>
</form>

