<h2>Editar Pasajero</h2>

<form [formGroup]="passengerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" formControlName="nombre" class="form-control" id="nombre" [(ngModel)] = "pasajero.nombre">
  </div>

  <div class="form-group">
    <label for="modelo">Apellido:</label>
    <input type="text" formControlName="apellido" class="form-control" id="apellido" [(ngModel)] = "pasajero.apellido">
  </div>

  <div class="form-group">
     <mat-label>Fecha de Nacimiento</mat-label>
      <input 
        required
        type="text"
        name="fechaNacimiento"
        id="fechaNacimiento"
        matInput
        placeholder="Digite la fecha de nacimiento del pasajero"
        formControlName="fechaNacimiento"
        [(ngModel)] = "pasajero.fechaNacimiento"
        [matDatepicker]="pickerFN"
      >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerFN">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerFN></mat-datepicker> 
 </div>

  <div class="form-group">
    <label for="fabricante">Nacionalidad:</label>
    <input type="text" formControlName="nacionalidad" class="form-control" id="nacionalidad" [(ngModel)] = "pasajero.nacionalidad">
  </div>

  <mat-form-field>
    <mat-label>Seleccionar Tipo de Identificacion</mat-label>
    <mat-select formControlName="tipoIdentificacion" name="selectedIdentification" [(ngModel)]="pasajero.tipoIdentificacion"  (selectionChange)="onIdentificationSelect($event)">
      <mat-option value="DPI">DPI</mat-option>
      <mat-option value="Pasaporte">Pasaporte</mat-option>
    </mat-select>
  </mat-form-field>

 <div class="form-group">
    <label for="fabricante">Número de Identificación:</label>
    <input type="text" formControlName="numeroIdentificacion" class="form-control" id="numeroIdentificacion" [(ngModel)] = "pasajero.numeroIdentificacion" #numberIdentification (input)="validateNumberId($event)">
  </div>

  <div class="form-group">
    <label for="fabricante">Título del pasajero:</label>
    <input type="text" formControlName="titulo" class="form-control" id="titulo" [(ngModel)] = "pasajero.titulo">
  </div>
 
 <div class="btns">
   <button type="submit" mat-raised-button color="primary">EDITAR PASAJERO</button>
   <button routerLink="/admin/passengers" mat-raised-button color="accent">REGRESAR</button>
 </div>
</form>

