<h2>Editar Piloto</h2>

<form [formGroup]="pilotForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" formControlName="nombre" class="form-control" id="nombre" [(ngModel)] = "pilot.nombre">
  </div>

  <div class="form-group">
    <label for="modelo">Apellido:</label>
    <input type="text" formControlName="apellido" class="form-control" id="apellido" [(ngModel)] = "pilot.apellido">
  </div>

  <div class="form-group">
   <label for="modelo">Fecha Nacimiento:</label>
   <input type="text" formControlName="fechaNacimiento" class="form-control" id="fechaNacimiento" [(ngModel)] = "pilot.fechaNacimiento">
 </div>

  <div class="form-group">
    <label for="fabricante">Nacionalidad:</label>
    <input type="text" formControlName="nacionalidad" class="form-control" id="nacionalidad" [(ngModel)] = "pilot.nacionalidad">
  </div>

  <div class="form-group">
   <label for="fabricante">Horas de Vuelo:</label>
   <input type="text" formControlName="horasVuelo" class="form-control" id="horasVuelo" [(ngModel)] = "pilot.horasVuelo">
 </div>

 <div class="form-group">
    <label for="fabricante">Fecha Contratación:</label>
    <input type="text" formControlName="fechaContratacion" class="form-control" id="fechaContratacion" [(ngModel)] = "pilot.fechaContratacion">
  </div>

  <div class="form-group">
    <label for="fabricante">Fecha de Vencimiento de Licencia:</label>
    <input type="text" formControlName="fechaVencimientoLicencia" class="form-control" id="fechaVencimientoLicencia" [(ngModel)] = "pilot.fechaVencimientoLicencia">
  </div>
 
 <div class="btns">
   <button type="submit" mat-raised-button color="primary">EDITAR PILOTO</button>
   <button routerLink="/admin/pilots" mat-raised-button color="accent">REGRESAR</button>
 </div>
</form>

